@import "./Utils/variables";
@import "./Base/font";
@import "./Utils/mixins";
@import "./Pages/animation";

img{
    object-fit: contain;
    max-width: 100%;
}

body{
    @media screen and (min-width: 1001px){
        margin-left: 5em;
        margin-right: 5em;
    }
}

.food__header{
    display: flex;
    flex-direction: column;

    .header--logo{
        width: 36%;
        margin-left: 32%;
        margin-bottom: 3%;
        @media screen and (min-width: 481px) and (max-width: 768px){
            width: 39%;
            margin-left: 31%;
        }
        @media screen and (min-width: 769px) and (max-width: 1000px){
            width: 36%;
            margin-left: 33%;
        }
        @media screen and (min-width: 1001px){
            width: 39%;
            margin-left: 33%;
            margin-bottom: 2%;
        }
    }

}

.header--maps{
    display: flex;
    align-items: center;
    background-color: lightgray;
    height: 3em;
    @media screen and (min-width: 481px) and (max-width: 768px){
        height: 8vw;
    }
    @media screen and (min-width: 769px) and (max-width: 1000px){
        font-size: 20px;
        height: 2em;
    }
    @media screen and (min-width: 1001px){
        height: 4em;
    }
    i{
        margin-left: 32%;
        @media screen and (min-width: 481px) and (max-width: 768px){
            margin-left: 33%;
            font-size: 4vw;
        }
        @media screen and (min-width: 769px) and (max-width: 1000px){
            margin-left: 34%;
        }
        @media screen and (min-width: 1001px){
            font-size: 2vw;
            margin-left: 35%;
        }
    }

    p{
        margin-left: 4%;
        font-weight: bold;
        @media screen and (min-width: 481px) and (max-width: 768px){
            font-size: 4vw;
        }
        @media screen and (min-width: 769px) and (max-width: 1000px){
            font-size: 21px;
        }
        @media screen and (min-width: 1001px){
            font-size: 2.3vw;
            margin-left: 3%;
        }
    }
}

.header--reserv{
    background-color: whitesmoke;
    padding-bottom: 14%;
    @media screen and (min-width: 481px) and (max-width: 768px){
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    h1{
       width: 57%;
       margin-top: 11%;
       margin-left: 21%;
       margin-bottom: 0%;
       text-align: center;
       font-size: 25px;
       @media screen and (min-width: 481px) and (max-width: 768px){
            width: 70%;
            font-size: 6vw;
            margin-left: 15%;
       }
       @media screen and (min-width: 769px) and (max-width: 1000px){
            font-size: 6vw;
            width: 59%;
            margin-left: 21%;
            margin-top: 8%;
       }
       @media screen and (min-width: 1001px){
           width: 11em;
           margin-top: 9%;
           margin-left: 18%;
           font-size: 5vw;
       }
    }

    p{
        text-align: center;
        width: 76%;
        margin-left: 13%;
        margin-top: 4%;
        font-size: 19px;
        @media screen and (min-width: 481px) and (max-width: 768px){
            width: 76%;
            margin-left: 11%;
            font-size: 4vw;
        }
        @media screen and (min-width: 769px) and (max-width: 1000px){
            font-size: 3vw;
            width: 66%;
            margin-left: 18%;
        }
        @media screen and (min-width: 1001px){
            width: 21em;
            font-size: 3vw;
            margin-left: 14%;
        }
    }
    $Primaire: #9356DC;
    $Secondaire: #FF79DA;
    input{
        width: 49%;
        border-radius: 2em;
        padding: 3%;
        color: white;
        text-align: center;
        border: none;
        margin-left: 22%;
        margin-top: 7%;
        /*box-shadow: 0px 4px 8px -4px grey;*/
        box-shadow: 0px 6px 8px rgb(145, 143, 143);
        text-shadow: 1px 1px 10px rgb(145, 143, 143);
        font-size: 16px;
        filter: saturate(3.5);
        /*@include color-bouton($couleur-primaire);*/
        background: linear-gradient(360deg, $Primaire, $Secondaire);
        @media screen and (min-width: 481px) and (max-width: 768px){
            margin-left: 22%;
            font-size: 19px;
            width: 50%;
        }
        @media screen and (min-width: 769px) and (max-width: 1000px){
            margin-left: 26%;
            font-size: 21px;
            width: 45%;
        }
        @media screen and (min-width: 1001px){
            margin-left: 23%;
            margin-top: 6%;
            font-size: 2vw;
        }
    }  
}

.food__nav{
    display: flex;
    flex-direction: column;

    h1{
        margin-top: 10%;
        margin-left: 4%;
        margin-bottom: 6%;
        @media screen and (min-width: 1001px){
            margin-top: 7%;
            font-size: 30px;
        }
    }
}

@media screen and (min-width: 1001px){
    .food__resto--tow--box{
        display: flex;
        flex-direction: row;
    }
}

.nav--box{
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
    border-radius: 1em;
    width: 87%;
    height: 4em;
    align-items: center;
    margin-left: 7%;
    background-color: whitesmoke;
    box-shadow: 2px 2px 6px lightgrey;
    @media screen and (min-width: 769px) and (max-width: 1000px){
        width: 85%;
        height: 5em;
    }
    @media screen and (min-width: 1001px){
        height: 5em;
    }
        .nav--num{
            border: 1px solid;
            border-radius: 1em;
            background-color: rgb(147, 86, 220);
            width: 6%;
            height: 38%;
            display: flex;
            position: relative;
            right: 14px;
            color: #fff;
            @media screen and (min-width: 481px) and (max-width: 768px){
                width: 24px;
                height: 23px;
            }
            @media screen and (min-width: 769px) and (max-width: 1000px){
                width: 31px;
                height: 40%;
            }
            @media screen and (min-width: 1001px){
                width: 32px;
            }
                p{
                    margin-left: 8px;
                    margin-top: 5px;
                    font-size: 13px;
                    @media screen and (min-width: 481px) and (max-width: 768px){
                        margin-left: 7px;
                        margin-top: 2px;
                        font-size: 17px;
                    }
                    @media screen and (min-width: 769px) and (max-width: 1000px){
                        font-size: 19px;
                        margin-left: 11px;
                        margin-top: 5px;
                    }
                    @media screen and (min-width: 1001px){
                        margin-left: 8px;
                        margin-top: -1px;
                        font-size: 26px;
                    }
                }
        }

        i{
            margin-left: 1%;
            font-size: 18px;
            color: gray;
            @media screen and (min-width: 1001px){
                font-size: 21px;
                margin-left: 2%
            }
        }

        p{
            margin-left: 6%;
            font-weight: bolder;
            font-size: 17px;
            @media screen and (min-width: 481px) and (max-width: 768px){
                font-size: 18px;
            }
            @media screen and (min-width: 769px) and (max-width: 1000px){
                font-size: 22px;
            }
            @media screen and (min-width: 1001px){
                font-size: 24px;
                margin-left: 4%;
            }
        }
}

.food__grid{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 94em;
    @media screen and (min-width: 481px) and (max-width: 768px){
        height: 0%;
    }
    @media screen and (min-width: 769px) and (max-width: 1000px){
        height: 168em;
    }
    @media screen and (min-width: 1001px){
        height: 0%;
    }

    h1{
        margin-left: 5%;
        margin-bottom: 5%;
        margin-top: 11%;
        @media screen and (min-width: 769px) and (max-width: 1000px){
            margin-top: 5%;
        }
        @media screen and (min-width: 1001px){
            margin-top: 5%;
            font-size: 30px;
        }
    }

    .food__resto{
        display: flex;
        flex-direction: column;
        width: 90%;
        box-shadow: 0px 6px 10px 0px grey;
        margin-left: 5%;
        border-radius: 1em;
        margin-bottom: 1em;
        @media screen and (min-width: 481px) and (max-width: 768px){
            margin-bottom: 2em;
        }
        @media screen and (min-width: 1001px){
            width: 86%;
            margin-left: 9%;
            margin-bottom: 4%;
            margin-right: 6%;
        }
            .resto--img{
                border-top-left-radius: 1em;
                border-top-right-radius: 1em;
                object-fit: cover;
                height: 15em;
                @media screen and (min-width: 481px) and (max-width: 768px){
                    height: 22em;
                }
                @media screen and (min-width: 769px) and (max-width: 1000px){
                    height: 29em;
                }
                @media screen and (min-width: 1001px){
                    height: 22em;
                    width: 51em;
                }
            }
    }
}

.resto--byline{
    display: flex;
    align-items: center;

    .resto--titre--lieu{
        width: 82%;
        margin-bottom: 5%;
        margin-left: 4%;
        margin-top: 5%;

        .resto--titre{
            font-weight: bolder;
            margin-bottom: 1%;
            font-size: 20px;
            @media screen and (min-width: 769px) and (max-width: 1000px){
                font-size: 23px;
            }
            @media screen and (min-width: 1001px){
                font-size: 26px;
            }
        }

        .resto--lieu{
            font-size: 18px;
            @media screen and (min-width: 769px) and (max-width: 1000px){
                font-size: 23px;
            }
            @media screen and (min-width: 1001px){
                font-size: 21px;
            }
        }
    }

    .resto--logo{
        font-size: 24px;
        margin-bottom: 6%;
        @media screen and (min-width: 769px) and (max-width: 1000px){
            font-size: 27px;
        }
        @media screen and (min-width: 1001px){
            font-size: 25px;
        }
    }
}

.food__footer{
    background-color: #2B2B2B;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0%;

    .footer--info{
        padding-left: 6%;
        margin-bottom: 5%;
        @media screen and (min-width: 481px) and (max-width: 768px){
            font-size: 4vw;
        }
        @media screen and (min-width: 769px) and (max-width: 1000px){
            font-size: 3vw;
        }
        @media screen and (min-width: 1001px){
            font-size: 3vw;
        }
    }

    i{
        margin-right: 3%;
        font-size: 14px;
        padding-top: 3px;
        @media screen and (min-width: 481px) and (max-width: 768px){
            font-size: 2.9vw;
        }
        @media screen and (min-width: 769px) and (max-width: 1000px){
            font-size: 2.3vw;
        }
        @media screen and (min-width: 1001px){
            font-size: 2.2vw;
        }
    }

    li{
        list-style: none;
        margin-bottom: 2%;
        @media screen and (min-width: 1001px){
            margin-bottom: 1%;
        }
        a{
            color: white;
        }
    }

    .info--propo{
        display: flex;
        flex-direction: row;
        align-items: center;

        i{
            margin-right: 4%;
        }
    }

    .info--dev{
        display: flex;
        flex-direction: row;
        @media screen and (min-width: 481px) and (max-width: 768px){
            align-items: center;
        }
        @media screen and (min-width: 769px) and (max-width: 1000px){
            align-items: center;
        }
        @media screen and (min-width: 1001px){
            align-items: center;
        }
    }
}

.footer--logo{
    filter: invert(1);
    width: 22%;
    margin-left: 6%;
    margin-top: 7%;
    margin-bottom: 2%;
    @media screen and (min-width: 481px) and (max-width: 768px){
        width: 25%;
    }
    @media screen and (min-width: 769px) and (max-width: 1000px){
        width: 30%;
    }
    @media screen and (min-width: 769px) and (max-width: 1000px){
        width: 20%;
    }
}