
.menu__entree{
    display: flex;
    flex-direction: column;
    .menu--titre--texte{
        margin-left: 5%;
        font-size: 3.4vw;
        margin-top: 3%;
    }
    .barre--titre{
        display: flex;
        font-weight: inherit;
        border-bottom: 3px solid $couleur-tertiaire;
        width: 8.7vw;
        margin-bottom: 3%;
        margin-top: 1%;
    }
}
.menu__plat{
    display: flex;
    flex-direction: column;
    .menu--titre--texte{
        margin-left: 5%;
        font-size: 3.4vw;
        margin-top: 3%;
    }
    .barre--titre{
        display: flex;
        font-weight: inherit;
        border-bottom: 3px solid $couleur-tertiaire;
        width: 8.7vw;
        margin-bottom: 3%;
        margin-top: 1%;
    }
}
.menu__dessert{
    display: flex;
    flex-direction: column;
    .menu--titre--texte{
        margin-left: 5%;
        font-size: 3.4vw;
        margin-top: 3%;
    }
    .barre--titre{
        display: flex;
        font-weight: inherit;
        border-bottom: 3px solid $couleur-tertiaire;
        width: 8.7vw; 
        margin-bottom: 3%;
        margin-top: 1%;
    }
}
               