p,li{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Shrikhand', sans-serif;
    margin-left: 5%;
    font-size: 30px;
}

.fas.fa-arrow-left{
    font-size: 19px;
    margin-left: 6%;
}

.far.fa-heart{
    margin-left: 25%;
    font-size: 27px;
}

.menu--nom--accom{
    .nom{
        font-weight: bolder;
        p{
            margin-bottom: 1%;
            margin-top: 3%; 
        }
    } 
}

a{
    text-decoration: none;
    color: gray;
}