p, li {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Shrikhand", sans-serif;
  margin-left: 5%;
  font-size: 30px;
}

.fas.fa-arrow-left {
  font-size: 19px;
  margin-left: 6%;
}

.far.fa-heart {
  margin-left: 25%;
  font-size: 27px;
}

.menu--nom--accom .nom {
  font-weight: bolder;
}
.menu--nom--accom .nom p {
  margin-bottom: 1%;
  margin-top: 3%;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0%;
}
footer .footer--info {
  padding-left: 6%;
  margin-bottom: 5%;
}
footer i {
  margin-right: 3%;
  font-size: 14px;
  padding-top: 3px;
}
footer li {
  list-style: none;
  margin-bottom: 2%;
  align-items: center;
}
footer .info--propo {
  display: flex;
  flex-direction: row;
}
footer .info--propo i {
  margin-right: 4%;
}
footer .info--dev {
  display: flex;
  flex-direction: row;
}

.footer--logo {
  filter: invert(1);
  width: 25%;
  margin-left: 6%;
  margin-top: 7%;
  margin-bottom: 2%;
}

.menu__entree {
  display: flex;
  flex-direction: column;
}
.menu__entree .menu--titre {
  font-weight: inherit;
  font-size: 17px;
  margin-left: 3%;
  border-bottom: 3px solid #99E2D0;
  width: 9%;
  height: 14%;
  margin-bottom: 3%;
}

.menu__plat {
  display: flex;
  flex-direction: column;
}
.menu__plat .menu--titre {
  font-weight: inherit;
  font-size: 17px;
  margin-left: 3%;
  border-bottom: 3px solid #99E2D0;
  width: 9%;
  height: 14%;
  margin-bottom: 3%;
}

.menu__dessert {
  display: flex;
  flex-direction: column;
}
.menu__dessert .menu--titre {
  font-weight: inherit;
  font-size: 17px;
  margin-left: 3%;
  border-bottom: 3px solid #99E2D0;
  width: 9%;
  height: 14%;
  margin-bottom: 3%;
}

.resto--img {
  max-width: 100%;
  object-fit: cover;
}

.header--fleche--logo {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}
.header--fleche--logo .header--logo {
  width: 38%;
  margin-left: 21%;
}

.menu {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  background-color: #F5F5F5;
  position: relative;
  margin-top: -64px;
  height: 73em;
}
.menu .menu__resto--itm {
  display: flex;
  align-items: center;
}
.menu input {
  border-radius: 2em;
  padding: 3%;
  background-color: #9356DC;
  color: white;
  text-align: center;
  border: none;
  margin-left: 22%;
  margin-top: 8%;
  margin-right: 25%;
  box-shadow: 0px 4px 8px -4px grey;
  font-size: 16px;
  filter: saturate(2.7);
}

.menu__box {
  display: flex;
  background-color: #ffff;
  margin-bottom: 3%;
  margin-left: 3%;
  width: 94%;
  height: 25%;
  border-radius: 1em;
  filter: drop-shadow(0px 0px 2px grey);
}
.menu__box .menu--nom--accom {
  margin-left: 2%;
  width: 89%;
}
.menu__box .menu--nom--accom .accom {
  margin-bottom: 3%;
  margin-top: 0%;
  font-size: 14px;
}
.menu__box .menu--nom--accom .nom {
  margin-bottom: 1%;
  margin-top: 3%;
  font-size: 17px;
}
.menu__box .menu--prix {
  margin-top: 5%;
  font-weight: bolder;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
